/* CSS Reset */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

/* Divide the webpage into two halves */
.left-half, .right-half {
    height: 100vh;
    float: left; /* Float the elements to the left so they appear side by side */
}

/* Project Formatting */
.project{
    width: 19vw;
    height:auto;
    float: left;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
}

.project-img{
    border-radius: 10%;
    transition: transform 0.3s ease; /* Smooth transition */
    max-width: 14vw;
}

.project-img:hover{
    transform: scale(1.15);
}

.project-img-link{
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.project-text {
    position: absolute;
    margin-top: 107%;
    left: 0;
    width: 100%; /* Text takes full width of parent container */
    padding: 10px;
    text-align: center; /* Align text in the center */
}

/* Apply different background colors to each half */
.left-half {
    position: fixed;
    top: 0; /* Position it at the top of the viewport */
    bottom: 0; /* Extend it to the bottom of the viewport */
    left: 0; /* Align it to the left side of the viewport */
    overflow: hidden; /* Hide any content overflow */
    width: 30vw;
    padding: 3.5%;
    background-color: #bacbe1 ; /* Change this color to the desired color for the left half */
}

.right-half {
    overflow-y: auto; /* Allow vertical scrolling */
    width: 70vw;
    margin-left: 30vw; /* Leave space for the fixed left column */
    padding-right: 3%;
    padding-left: 7%; /* Text begins 90 pixels to the left of the divider */
    background-color: #ecf3f9;
}

/* Dark Mode Features */
.dark-mode .left-half{
    background-color: rgb(69, 69, 69);
}

.dark-mode .right-half{
    background-color: rgb(50, 50, 50);
}

.dark-mode h1, .dark-mode h2, .dark-mode h3, .dark-mode h4, .dark-mode h5, .dark-mode h6, .dark-mode p, .dark-mode a, .dark-mode .project, .dark-mode a:hover{
    color: rgb(231, 231, 231);
}
/* End of Dark Mode Features */

.profile-pic {
    border-radius: 50%;
    width: 100%; /* Adjust the width as needed */
    max-width: 200px;
    height: auto; /* Adjust the height as needed */
    align-items: center;
    justify-content: center;
    display: block;
    margin: 0 auto;
}

.logo-pic{
    border-radius: 50%;
    width: 100%; /* Adjust the width as needed */
    max-width: 55px;
    height: auto; /* Adjust the height as needed */
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 10%;
}

.center-text{
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0px;
    padding: 0px;
}

h1, h2, h3{
    text-align: left;
}

h1{
    font-size: 2.5vw;
    font-family: Georgia;
}

h2{
    font-size: 3.2vw;
    font-family: Garamond;
    text-decoration: underline;
}

h3{
    font-size: 2vw;
    font-family: Georgia;
    font-weight: lighter;
}

h4{
    font-size: 1.55vw;
}

h5{
    font-size: 1.3vw;
}

a, a:hover{
    color:black;
    font-weight: 800;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

p{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.3vw;
}

.dark-mode-button {
    position: absolute;
    top: 16px;
    left: 25vw;
    width: 4vw;
    align-self: center;
    padding: 1vw 1vw; 
    border-radius: 5px; 

    background-color: #bacbe1;
    cursor: pointer;
    border: none;
    font-size: 2.7vw;
    font-weight: bolder;
}

.dark-mode .dark-mode-button{
    background-color: rgb(69, 69, 69);
    font-style: normal;
}
